<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @listing.name %>
</p>

<p>
  <strong>Rent:</strong>
  <%= @listing.rent %>
</p>

<p>
  <strong>Sqft:</strong>
  <%= @listing.sqft %>
</p>

<p>
  <strong>Beds:</strong>
  <%= @listing.beds %>
</p>

<p>
  <strong>Baths:</strong>
  <%= @listing.baths %>
</p>

<p>
  <strong>Address:</strong>
  <%= @listing.address %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @listing.longitude %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @listing.latitude %>
</p>

<p>
  <strong>User:</strong>
  <%= @listing.user %>
</p>

<%= link_to 'Edit', edit_listing_path(@listing) %> |
<%= link_to 'Back', listings_path %>
